// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

// mes couleurs
$navy: #0B1E45;
$bleu: #1D4EB4;

// mon gradient pour les boutons
// background: hsla(220, 72%, 16%, 1);
// background: linear-gradient(90deg, hsla(220, 72%, 16%, 1) 0%, hsla(221, 72%, 41%, 1) 100%);
// background: -moz-linear-gradient(90deg, hsla(220, 72%, 16%, 1) 0%, hsla(221, 72%, 41%, 1) 100%);
// background: -webkit-linear-gradient(90deg, hsla(220, 72%, 16%, 1) 0%, hsla(221, 72%, 41%, 1) 100%);
// filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#0B1E45", endColorstr="#1D4EB4", GradientType=1 );
