<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= image_path('blue-banner.jpg') %>);">
  <div class="container">
    <h1><strong>News'R'Us</strong> vous ouvre les portes de l'actualité !</h1>
    <p>Découvrez de nouveaux horizons grâce aux articles de nos utilisateurs.</p>
    <a class="cta-all-posts" href="/posts">Voir toutes les publications</a>
  </div>
</div>
