<div class="post-show-ratings" data-bs-toggle="tooltip" data-bs-placement="top" title="Voir les commentaires">
  <i class="fa-solid fa-star me-1"></i> <%= post.ratings_average %>
  <i class="fa-solid fa-message ms-2 me-1"></i> <%= post.comments.size %>
</div>
