<div class="container mt-3 mb-5">
  <div class="post-show">
    <h1>Mes publications (<%= @posts.size %>)</h1>
    <% @posts.each do |post| %>
      <%= render 'card_my_posts', post: post %>
    <% end %>
  </div>
</div>
